.content-map {
  min-width: 320px;
  height: 200px;
  width: 100%;
  background: url('../img/bg-triangle-white-footer.svg') no-repeat 0 0,
              url('../img/bg-map-mobile@1x.png') no-repeat;
  background-size: 100% auto, cover;
  overflow: hidden;
}
@media @tablet-widths {
  .content-map {
    height: 380px;
    background: url('../img/bg-triangle-white-footer.svg') no-repeat 0 0,
                url('../img/bg-map-tablet@1x.jpg') no-repeat;
    background-size: 100% auto, cover;
  }
}
@media @desktop-widths {
  .content-map {
    height: 500px;
    background: url('../img/bg-triangle-white-footer.svg') no-repeat 0 0,
                url('../img/bg-map-desktop@1x.jpg') no-repeat;
    background-size: 100% auto, cover;
  }
}
