.feedback {
  height: 450px;
  text-align: center;
  padding-top: 50px;
  &__h2 {
    font-family: "Open Sans Light", Arial, sans-serif;
    font-size: 24px;
    color: #283645;
  }
  &__h3 {
    font-family: "Open Sans Bold", Arial, sans-serif;
    font-size: 18px;
    margin-top: 25px;
  }
  &__item {
    font-family: "Open Sans Light", Arial, sans-serif;
    font-size: 24px;
    color: #d22856;
  }
}
.feedback a {
  text-decoration: none;
}
