.feedback {
  text-align: center;
  padding-top: 50px;
  &__h2 {
    font-family: "Open Sans Light", Arial, sans-serif;
    font-size: 24px;
    color: #283645;
  }
  &__h3 {
    font-family: "Open Sans Bold", Arial, sans-serif;
    font-size: 18px;
    margin-top: 25px;
  }
  &__item {
    font-family: "Open Sans Light", Arial, sans-serif;
    font-size: 24px;
    color: #d22856;
  }
}
.feedback a {
  text-decoration: none;
}
@media @tablet-widths {
  .feedback {
    &__h2 {
      font-size: 40px;
      line-height: 58px;
    }
    &__wrap-items {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }
    &__item1, &__item2, &__item3 {
      margin: 0 45px;
    }
    &__item3 {
      width:220px;
    }
  }
}
