.forms {
  &__competition {
    display: block;
    height: 237px;
    width: 100%;
    background: url('../img/bg-back-mobile@1x.jpg') no-repeat 50% 100%;
  }
  &__h1 {
    font-family: "Open Sans Light", Arial, sans-serif;
    color: #ffffff;
    line-height: 26px;
    font-size: 24px;
    padding: 0 20px;
    text-align: center;
    padding-top: 100px;
  }
  &__h2 {
    font-family: "Open Sans", Arial, sans-serif;
    font-size: 14px;
    line-height: 30px;
    padding-top: 45px;
    padding-bottom: 35px;
    text-align: center;
    margin: 0 20px;
  }
  &__textfield-header {
    font-family: "Open Sans", Arial, sans-serif;
    font-size: 14px;
    line-height: 30px;
    text-transform: uppercase;
    color: #d22856;
    &--center {
      text-align: center;
    }
  }
  &__textfield {
    position: relative;
    margin: 0 20px;
  }
  &__input-text {
    width: 100%;
    height: 59px;
    border: 2px solid #e5e5e5;
    border-radius: 3px;
    margin-bottom: 20px;
    margin-top: 10px;
    }
  &__label {
    position: absolute;
    left:25px;
    top:57px;
    font-family: "Open Sans", Arial, sans-serif;
    font-size: 14px;
    line-height: 30px;
  }
  &__checkbox, &__radio {
    display: none;
  }
  &__wrap {
    background-color: #f2f2f2;
    padding: 0 20px;
  }
  &__item {
    position: relative;
    height: 80px;
  }
  &__item label {
    margin-left: 70px;
    display: block;
    font-family: "Open Sans", Arial, sans-serif;
    font-size: 18px;
    line-height: 30px;
    padding: 25px 0;
  }
  &__item label::before {
    content: '';
    display: block;
    width: 35px;
    height: 35px;
    background-color: #ffffff;
    border: 2px solid #e5e5e5;
    position: absolute;
    left: 0;
    top: 22px;
  }
  &__checkbox-label::before {
    border-radius: 3px;
  }
  &__radio-label::before {
    border-radius: 50%;
  }
  &__item label::after {
    content: '';
    display: block;
    position: absolute;

  }
  &__checkbox-label::after  {
    width: 11px;
    height: 23px;
    transform: rotate(45deg);
    border-right: 3px solid transparent;
    border-bottom: 3px solid transparent;
    left: 13px;
    top: 25px;
  }
  &__radio-label::after {
    width: 15px;
    height: 15px;
    left: 12px;
    top: 34px;
    border-radius: 50%;
  }
  &__checkbox:checked + label::after {
    border-color: #d22856;
  }
  &__radio:checked + label::after {
    background-color: #d22856;
  }
  &__commit {
    margin: 0 20px;
    position: relative;
    margin-bottom: 60px;
  }
  &__commit label {
    position: absolute;
    top: 10px;
    left: 15px;

  }
  &__textarea {
    resize: none;
    outline: none;
    border: 2px solid #e5e5e5;
    border-radius: 3px;
    margin: 0 auto;
    display: block;
    width: 100%;
    margin-bottom: 47px;
  }
  &__btn-send {
    width: 274px;
    display: block;
    margin: 0 auto;
    border:3px solid #2aab6d;
    background-color: #2aab6d;
    border-radius: 3px;
    height: 57px;
    font-family: "Open Sans Bold", Arial, sans-serif;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 30px;
    color: #ffffff;
    margin-bottom: 40px;
  }
  &__required-fields {
    font-family: "Open Sans", Arial, sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    line-height: 30px;
    text-align: center;
  }
  &__required-fields span {
    color: #d22856;
  }
}
