.forms {

  &__competition {
    min-width: 320px;
    display: block;
    height: 235px;
    width: 100%;
    background: url('../img/bg-back-mobile@1x.jpg') no-repeat 50% 100%;
    background-size: cover;
  }
  &__h1 {
    font-family: "Open Sans Light", Arial, sans-serif;
    color: #ffffff;
    font-size: 24px;
    line-height: 30px;
    padding: 0 15px;
    text-align: center;
    padding-top: 92px;
  }
  &__h2 {
    font-family: "Open Sans", Arial, sans-serif;
    font-size: 14px;
    line-height: 30px;
    padding-top: 45px;
    padding-bottom: 33px;
    text-align: center;
    margin: 0 20px;
  }
  &__h2 span {
    display: none;
  }
  &__textfield-header {
    font-family: "Open Sans", Arial, sans-serif;
    font-size: 14px;
    line-height: 30px;
    text-transform: uppercase;
    color: #d22856;
    margin-left: 22px;
    &--center {
      text-align: center;
      margin: 0 20px;
      line-height: 18px;
    }
    &--contacts {
      display: none;
    }
    &--normal {
      display: none;
    }
  }
  &__textfield {
    margin: 0;
  }

  &__input-item {
    width:100%;
    position: relative;
  }
  &__input-text {
    width: 100%;
    height: 57px;
    border: 2px solid #e5e5e5;
    border-radius: 3px;
    margin-bottom: 15px;
    margin-top: 5px;
    }
  &__label {
    position: absolute;
    left:23px;
    top:22px;
    font-family: "Open Sans", Arial, sans-serif;
    font-size: 18px;
    line-height: 30px;
  }
  &__checkbox-items {
    margin-top: 18px;
  }
  &__checkbox, &__radio {
    display: none;
  }
  &__name-wrap {
    padding: 0 20px;
  }
  &__radio-items {
    margin-top: 14px;
  }
  &__wrap {
    margin-top: 30px;
    padding: 0 20px;
    padding-bottom: 26px;
    &--grey {
      background-color: #f2f2f2;
    }
    &--radio {
      margin-top: 15px;
      padding-top: 36px;
      margin-bottom: 56px;
    }
    &--checkbox {
      padding-top: 35px;
    }
    &--commit {
      padding-left: 0;
      padding-right: 0;
      margin: 0 20px;
    }
  }
  &__item {
    position: relative;
    height: 82px;
    &--radio {
      height: 75px;
    }
  }
  &__item label {
    margin-left: 70px;
    display: block;
    font-family: "Open Sans", Arial, sans-serif;
    font-size: 18px;
    line-height: 30px;
    padding: 25px 0;
  }
  &__item label::before {
    content: '';
    display: block;
    width: 35px;
    height: 35px;
    background-color: #ffffff;
    border: 2px solid #e5e5e5;
    position: absolute;
    left: 0;
    top: 22px;
  }
  &__checkbox-label::before {
    border-radius: 3px;
  }
  &__radio-label::before {
    border-radius: 50%;
  }
  &__item label::after {
    content: '';
    display: block;
    position: absolute;

  }
  &__checkbox-label::after  {
    width: 11px;
    height: 23px;
    transform: rotate(45deg);
    border-right: 3px solid transparent;
    border-bottom: 3px solid transparent;
    left: 13px;
    top: 25px;
  }
  &__radio-label::after {
    width: 15px;
    height: 15px;
    left: 12px;
    top: 34px;
    border-radius: 50%;
  }
  &__checkbox:checked + label::after {
    border-color: #d22856;
  }
  &__radio:checked + label::after {
    background-color: #d22856;
  }
  &__commit {
    display: flex;
    flex-direction: column-reverse;
    position: relative;
  }
  &__commit label {
    position: absolute;
    top: 34px;
    left: 20px;
    font-size: 18px;
  }
  &__textarea {
    resize: none;
    outline: none;
    border: 2px solid #e5e5e5;
    border-radius: 3px;
    margin: 0 auto;
    display: block;
    margin-bottom: 22px;
    width: 100%;
    height: 200px;
    box-sizing: border-box;
    margin-top: 18px;

  }
  &__wrap-button {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
  }
  &__btn-send {
    width: 280px;
    display: block;
    margin: 0 auto;
    border:3px solid #2aab6d;
    background-color: #2aab6d;
    border-radius: 3px;
    height: 63px;
    font-family: "Open Sans Bold", Arial, sans-serif;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 30px;
    color: #ffffff;
    margin-bottom: 35px;
}
  &__required-fields {
    font-family: "Open Sans", Arial, sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    line-height: 30px;
    display: block;

  }
  &__required-fields span {
    color: #d22856;
  }
}
@media @tablet-widths {
  .forms {
    &__page-forms {
      display: flex;
      flex-direction: column;
    }
    &__competition {
      height: 440px;
    }
    &__h1 {
      display: block;
      margin: 0 100px;
      font-size: 50px;
      line-height: 60px;
      padding: 180px 0 0 0;
    }
    &__h2 {
      font-size: 18px;
      line-height: 30px;
      padding-top: 92px;
      padding-bottom: 43px;
      margin: 0 100px;
    }
    &__h2 span {
      display: inline;
    }
    &__name-wrap {

      margin: 0 40px;
      padding: 0;
    }
    &__textfield {
      display: flex;
      align-items: center;
      &--bottom {
        flex-direction: column-reverse;
        align-items: flex-start;
        justify-content: flex-start;
      }
    }
    &__textfield:last-child {
    }
    &__label {
      font-size: 18px;
      line-height: 30px;
      left: 23px;
      top: 40px;
    }
    &__input-text {
      margin: 27px auto;
    }
    &__wrap {
      display: flex;
      flex-direction: column;
      margin: 40px;
      border: 2px solid #e5e5e5;
      background-color: #ffffff;
      padding-bottom: 20px;
      &--checkbox {
        order: 2;
      }
      &--radio {
        margin-top: 38px;

      }
      &--contacts {
        order: 1;
      }
    }

    &__textfield-header {
      margin-right: 10px;
      margin-left: 0px;
      &--center {
        margin-right: 0;
        align-self: center;
        margin-top: -45px;
        padding: 0 30px;
        background-color: #ffffff;
        overflow: hidden;
      }
      &--contacts {
        display: block;
        margin-bottom: 0;
          margin-top: -15px;
      }
      &--hidden {
        display: none;
      }
      &--normal {
        display: block;
        margin-top: -10px;
        margin-bottom: 10px;
      }
    }
    &__textarea {
      margin: 0 40px;

    }

    &__btn-send {
      margin: 0;
      width: 300px;
    }
    &__wrap-button {
      margin: 0 40px;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }
    }
  }
@media @desktop-widths {
  .forms {
    &__h1 {
      font-size: 50px;
      margin: 0 190px;
    }
    &__page-forms {
      display: flex;
      flex-wrap: wrap;
      margin: 0 130px;
    }
    &__name-wrap {
      order: -3;
      flex-basis: 50%;
      margin-bottom: 65px;
    }
    &__wrap {
      margin: 0 0 65px 0;
      &--radio {
        order: -2;
      }
      &--contacts {
        order: -1;
        flex-basis: 100%;
      }
      &--checkbox {
        flex-basis: 100%;
      }
      &--commit {
        margin: 0 130px;
      }
    }
    &__contacts-items {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
    &__checkbox-items {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-around;
    }
    &__item {
      width: 260px;
    }
    &__textfield {
      &--bottom {
        flex-basis: 100%;
      }
    }
    &__wrap-button {
      padding-top: 65px;
      margin: 0 130px;
    }
  }
}
