.logo {
  display: block;
  text-decoration: none;
  width: 75px;
  height: 22px;
  margin-left: 20px;
  background: transparent url('../img/logo-pink-white-mobile.svg') no-repeat;
}

@media @tablet-widths {
  .logo {
    width: 150px;
    height: 40px;
    background: transparent url('../img/logo-pink-white.svg') no-repeat;
    &--footer {
        background: transparent url('../img/logo-pink-blue-mobile.svg') no-repeat;
        margin: 0;
    }
  }
}
@media @desktop-widths {

}
