.main-menu {
  &__items {
    list-style: none;
    margin: 0;
    padding: 0;
    flex-grow: 1;
  }
  &__items a {
    display: block;
    text-decoration: none;
    background-color: #283645;
    color: #ffffff;
    font-family: "Open Sans Bold", Arial, sans-serif;
    font-size: 18px;
    line-height: 32px;
    text-transform: uppercase;
    text-align: center;
    width:100%;
    padding:15px 0;
    border-top: 1px solid #485461;
    border-bottom: 1px solid black;
  }
}
@media @tablet-widths {
  .main-menu {
    display: none;
  }
}
