.price {
  background-color: #f2f2f2;
}
.price input[type=radio] {
  display: none;
}
#btn-4:checked ~ .slider__controls label[for="btn-4"],
#btn-5:checked ~ .slider__controls label[for="btn-5"],
#btn-6:checked ~ .slider__controls label[for="btn-6"] {
    background-color: transparent;
    box-shadow:0 0 0 3px #79828b;
}
