.review {
  &__h3 {
    font-family: "Open Sans Bold", Arial, sans-serif;
    font-size: 18px;
    line-height: 30px;
    text-align: center;
    margin: 0 20px;
  }
  &__about {
    display: none;
  }
  &__item {
    font-family: "Open Sans Regular", Arial, sans-serif;
    font-size: 14px;
    line-height: 30px;
    text-align: center;
    margin: 0 20px;
  }
  &__slide1, &__slide2, &__slide3 {
    width:280px;
  }
}
