.review {
  &__h3 {
    font-family: "Open Sans Bold", Arial, sans-serif;
    font-size: 18px;
    line-height: 30px;
    text-align: center;
    margin: 0 20px;
  }
  &__about {
    display: none;
  }
  &__item {
    font-family: "Open Sans Regular", Arial, sans-serif;
    font-size: 14px;
    line-height: 30px;
    text-align: center;
    margin: 0 20px;
  }
  &__slide1, &__slide2, &__slide3 {
    width:280px;
  }
}
@media @tablet-widths {
  .review {
    &__slide1, &__slide2, &__slide3 {
      width:620px;
      position: relative;
      display: flex;
      flex-direction: column-reverse;
      justify-content: flex-end;
    }

    &__about {
      display: block;
      font-family: "Open Sans Regular", Arial, sans-serif;
      font-size: 14px;
      line-height: 30px;
      text-align: center;
      order: -1;
    }
    &__item {
    }
  }
}
@media @desktop-widths {
  .review {
    &__slide1, &__slide2, &__slide3 {
      width:820px;
    }
    &__h3 {
      font-size: 24px;
      line-height: 30px;
    }
    &__about {
      font-size: 18px;
      line-height: 30px;
    }
    &__item {
      font-size: 18px;
      line-height: 30px;
    }
  }
}
