.review {
  margin-top: 40px;
  margin-bottom: 30px;
  min-width: 320px;
   &__btn-back, &__btn-next {
     display: none;
   }
   &__quotes {
     display: none;
   }
  &__h3 {
    font-family: "Open Sans Bold", Arial, sans-serif;
    font-size: 18px;
    line-height: 30px;
    text-align: center;
    margin: 0 20px;
    padding-bottom: 13px;
  }
  &__about {
    display: none;
  }
  &__item {
    font-family: "Open Sans", Arial, sans-serif;
    font-size: 14px;
    line-height: 30px;
    text-align: center;
    margin: 0;
  }
  &__slide1, &__slide2, &__slide3 {
    width:280px;
  }
}
@media @tablet-widths {
  .review {
    margin-bottom: 10px;
    &__btn-back, &__btn-next {
      display: none;
    }
    &__slide1, &__slide2, &__slide3 {
      width:620px;
      position: relative;
      display: flex;
      flex-direction: column-reverse;
      justify-content: flex-end;
    }

    &__about {
      display: block;
      font-family: "Open Sans", Arial, sans-serif;
      font-size: 14px;
      line-height: 30px;
      text-align: center;
      order: -1;
    }
    &__item {
      font-size: 18px;
      line-height: 30px;
    }
    &__h3 {
      font-size: 20px;
      line-height: 30px;
      margin-top: 35px;
      padding-bottom: 3px;
    }
  }
}
@media @desktop-widths {
  .review {
    margin-top: 0px;
    margin-bottom: 38px;
    position: relative;
    &__quotes {
      display: block;
      margin-top: 71px;
      height: 64px;
      background: url('../img/icon-quotes.svg') no-repeat 50% 0;
    }
    &__btn-back, &__btn-next {
      display: block;
      width: 22px;
      height: 42px;
      position: absolute;
    }
    &__btn-back {
        left: 130px;
        top: 25px;
        cursor: pointer;
      }
    &__btn-back-icon:hover path {
      fill:#7e868f;
    }
    &__btn-back-icon:active path {
      fill:#e9ebec;
    }
    &__btn-next {
        right: 130px;
        top: 25px;
        cursor: pointer;
      }
    &__btn-next-icon:hover path {
      fill:#7e868f;
    }
    &__btn-next-icon:active path {
      fill:#e9ebec;
    }
    &__slide1, &__slide2, &__slide3 {
      width:820px;
    }
    &__h3 {
      font-size: 24px;
      line-height: 30px;
    }
    &__about {
      font-size: 18px;
      line-height: 30px;
    }
    &__item {
      font-size: 18px;
      line-height: 30px;
      margin: 0 30px;
    }
  }
}
