  .social {
    &__btn {
      display: inline-block;
      margin: 0 6px;
      font-size: 0;
      width: 45px;
      height: 45px;
      border-radius: 50%;
      box-shadow:0 0 0 3px #f2f2f2;
      &--twitter {
        background: url('../img/icon-twitter.svg') no-repeat 50% 50%;
      }
      &--facebook {
        background: url('../img/icon-facebook.svg') no-repeat 50% 50%;
      }
      &--youtube{
        background: url('../img/icon-youtube.svg') no-repeat 50% 50%;
      }
    }
    margin-bottom: 36px;
  }
  .footer-copyright {
    &__p {
      display: inline-block;
      vertical-align: middle;
      font-family: "Open Sans", Arial, sans-serif;
      font-size: 14px;
      line-height: 18px;
      color: #000000;
      padding-top: 10px;
      padding-right: 10px;
    }
    &__academy-logo {
      display: inline-block;
      width: 27px;
      height: 37px;
      background: url('../img/logo-htmlacademy.svg') no-repeat 50% 50%;
      font-size: 0;
    }
  }
@media @tablet-widths {
  .social {
    margin-bottom: 0;
    margin-top: 8px;
    margin-right: 20px;
  }
  .footer-copyright {
    margin-top: 10px;
  }
}
@media @desktop-widths {
  .social {
    margin-right: 0;
    margin-top: 18px;
    margin-left: 10px;
    &__btn {
      margin: 8px;
    }
  }
    .footer-copyright {
      margin-top: 17px;
      &__p {
        font-size: 18px;
      }
    }
}
