  .social {
    font-size: 0;
    &__btn {
      display: inline-block;
      line-height: 60px;
      margin: 0 9px;
      width: 45px;
      height: 45px;
      box-sizing: border-box;
      border-radius: 50%;
      box-shadow:0 0 0 3px #f2f2f2;
      &--twitter {
        padding-left: 14px;
      }
      &--facebook {
        padding-left: 18px;
      }
      &--youtube {
        padding-left: 16px;
      }
    }
    &__btn:hover {
      box-shadow:0 0 0 3px #283645;
    }
    &__btn:active {
      box-shadow:0 0 0 3px #f2f2f2;
    }
    &__btn:active path{
      opacity: 0.3;
    }
    &__btn-icon {
      fill: #d22856;
    }
    margin-bottom: 41px;
  }
@media @tablet-widths {
  .social {
    margin-bottom: 0;
    margin-top: -2px;
    margin-right: 20px;
  }
}
@media @desktop-widths {
  .social {
    margin-right: 0;
    margin-top: 28px;
    margin-left: 5px;
    &__btn {
    }
  }
}
